*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/wallpaper-pc.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

.menu-bar{
    background: rgb(0, 100, 0);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover{
    background: #2bab0d;
}

.menu-bar .fa{
    margin-right: 3px;
}

.submenu1{
    display: none;
}

.menu-bar ul li:hover .submenu1{
    display: block;
    position: absolute;
    background-color: rgb(0, 100, 0);
    margin: 15px;
} 

.menu-bar ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .submenu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.712);
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .submenu1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .submenu1 ul li a:hover{
    color: #b2ff00;
}

.fa-angle-right{
    float: right;
}

.submenu2{
    display: none;
}

.hoverme:hover .submenu2{
    display: block;
    position: absolute;
    background-color: rgb(0, 100, 0);
    margin-top: -20px;
    margin-left: 140px;
}

/* .hoverme ul li:hover .submenu2 ul{
    display: block;
    margin: 10px;
}

.hoverme:hover .submenu2 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.712);
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.hoverme :hover .submenu2 ul li:last-child{
    border-bottom: none;
}

.hoverme :hover .submenu2 ul li a:hover{
    color: #b2ff00;
} */